doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/fonts.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/imagehover.min.css')
		link(rel='stylesheet', href='/stylesheets/mdb.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="icon" href="images/favicon.ico")
	body
		block content